.body, html, main {
    background-color: #F5F2ED;
}

.navbar-main {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #191919;

    .nav-link {
        font-size: 17px;
    }

    #link-carrinho {
        margin-right: 30px;
    }
}

.slide-image {
    height: 600px !important;
}

#main-footer {
    background-color: #191919;
}

.page-item.active {
    .page-link {
        background-color: #191919 !important;
        border-color: #191919 !important;
        color: white;
    }
}

.carousel-item {
    height: 600px;
}

#slide-section {
    background-color: #191919;
}

.main-content {
    padding: 40px;
}

hr {
    color: #949494;
}

.card-news {
    background-color: #191919;
    color: white;

    .card-body {
        padding: 70px;
    }
}

#produtos-container {
    padding: 40px;
}

#admin-container {
    padding: 40px;
}

.notfound {
    background-color: #fffcf7;
}

#login-container {
    margin: auto;
}

.nav-item {
    .nav-link.active {
        border-top: 2px solid #191919;
        background-color: #fffcf7;
    }
}

#quality-first-div {
    background-image: url('https://images.pexels.com/photos/374147/pexels-photo-374147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    height: 300px;
}

#quality-first-div-container {
    padding: 2rem;
    background-color: #191919;

    .icone-quality:hover {
        background-color: #857a67 !important;
        cursor: pointer;
        color: white !important;
    }
}

/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .sidepanel-content {
        padding: 22px;
    }

    .img-carrinho {
        max-width: 100%;
    }

    .grid-finalizar-pedido {
        margin-top: auto;
    }
}

.card-produto-pedido {
    max-width: 500px;
}
