.body, html, main {
  background-color: #F5F2ED;
}

.navbar-main {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #191919;
}
.navbar-main .nav-link {
  font-size: 17px;
}
.navbar-main #link-carrinho {
  margin-right: 30px;
}

.slide-image {
  height: 600px !important;
}

#main-footer {
  background-color: #191919;
}

.page-item.active .page-link {
  background-color: #191919 !important;
  border-color: #191919 !important;
  color: white;
}

#slide-section {
  background-color: #191919;
}

#main-content {
  padding: 40px;
}

hr {
  color: #949494;
}

.card-news {
  background-color: #191919;
  color: white;
}
.card-news .card-body {
  padding: 70px;
}

#produtos-container {
  padding: 40px;
}

.notfound {
  background-color: #fffcf7;
}

#login-container {
  margin: auto;
}
